/* Common elements */

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}

h1 {
  color: #66bfbf;
  font-size: 3.625rem;
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 50px auto;
}

p {
  line-height: 2;
}

a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}
